In [17]:
import pandas as pd
import numpy as np

In [74]:
df_ST = pd.read_csv('amundi-msci-wrld-ae-c.csv', sep=";")
df_CB = pd.read_csv('ishares-global-corporate-bond-$.csv', sep=";")
df_PB = pd.read_csv('db-x-trackers-ii-global-sovereign-5.csv', sep=";")
df_GO = pd.read_csv('spdr-gold-trust.csv', sep=";")
df_CA = pd.read_csv('usdollar.csv', sep=";")

In [140]:
df = {}
df.update({"ST": pd.read_csv('amundi-msci-wrld-ae-c.csv', sep=";")})
df.update({"CB": pd.read_csv('ishares-global-corporate-bond-$.csv', sep=";")})
df.update({"PB": pd.read_csv('db-x-trackers-ii-global-sovereign-5.csv', sep=";")})
df.update({"GO": pd.read_csv('spdr-gold-trust.csv', sep=";")})
df.update({"CA": pd.read_csv('usdollar.csv', sep=";")})

In [75]:
def combinations_with_replacement(iterable, r):
    # combinations_with_replacement('ABC', 2) --> AA AB AC BB BC CC
    # Sacado de internet
    pool = tuple(iterable)
    n = len(pool)
    if not n and r:
        return
    indices = [0] * r
    yield tuple(pool[i] for i in indices)
    while True:
        for i in reversed(range(r)):
            if indices[i] != n - 1:
                break
        else:
            return
        indices[i:] = [indices[i] + 1] * (r - i)
        yield tuple(pool[i] for i in indices)

In [76]:
partes = 5
it = combinations_with_replacement(['ST','CB','PB','GO','CA'], partes)
lista = []
for j in it:
    dicionario = {'ST':0, 'CB':0, 'PB':0,'GO':0, 'CA':0}
    for i in j:
        dicionario[i] = int(dicionario[i]+(100/partes))
    lista += [dicionario]

In [125]:
df_carteras = pd.DataFrame(lista)
df_carteras.loc[1,:]

ST    80
CB    20
PB     0
GO     0
CA     0
Name: 1, dtype: int64

In [178]:
def calcularGanacia(carteras):
    ganaciaIndice = []
    listaGanacias = []
    for i in df:
        precioInicio = df[i].loc[len(df[i])-1,"Price"]
        precioFinal = df[i].loc[0,"Price"]
        ganaciaIndice += [((precioInicio-precioFinal)/(precioInicio))]
    for cartera in carteras:
        gancia = 0
        for i in range(len(cartera):
            gancia += cartera[i]*ganaciaIndice[i]
        listaGanacias = [gancia]
    return ganacia

In [179]:
calcularGanacia(df_carteras.loc[1,:])

194.59
204.58
77.58
80.62
253.28
253.84
143.95
178.36
96.39
89.94

-4.890804114138707

In [182]:
df_carteras.iloc[-1,:]

ST      0
CB      0
PB      0
GO      0
CA    100
Name: 125, dtype: int64

In [149]:
len(df["ST"])

247

In [96]:
df["ST"]

             Date   Price Vol %Change
0    Dec 31, 2020  204.58   -   0.62%
1    Dec 30, 2020  203.32   -  -0.33%
2    Dec 29, 2020  204.00   -  -0.01%
3    Dec 28, 2020  204.02   -   0.41%
4    Dec 24, 2020  203.19   -   0.32%
..            ...     ...  ..     ...
242  Jan 08, 2020  195.26   -   0.49%
243  Jan 07, 2020  194.30   -   0.25%
244  Jan 06, 2020  193.81   -  -0.16%
245  Jan 03, 2020  194.12   -  -0.24%
246  Jan 02, 2020  194.59   -   0.97%

[247 rows x 4 columns]

In [109]:
df_carteras.iloc[1,:]

ST    80
CB    20
PB     0
GO     0
CA     0
Name: 1, dtype: int64

In [106]:
df

{'ST':              Date   Price Vol %Change
 0    Dec 31, 2020  204.58   -   0.62%
 1    Dec 30, 2020  203.32   -  -0.33%
 2    Dec 29, 2020  204.00   -  -0.01%
 3    Dec 28, 2020  204.02   -   0.41%
 4    Dec 24, 2020  203.19   -   0.32%
 ..            ...     ...  ..     ...
 242  Jan 08, 2020  195.26   -   0.49%
 243  Jan 07, 2020  194.30   -   0.25%
 244  Jan 06, 2020  193.81   -  -0.16%
 245  Jan 03, 2020  194.12   -  -0.24%
 246  Jan 02, 2020  194.59   -   0.97%

 [247 rows x 4 columns],
 'CB':              Date  Price    Vol %Change
 0    Dec 31, 2020  80.62  0.92K   0.25%
 1    Dec 30, 2020  80.42  0.50K  -0.54%
 2    Dec 29, 2020  80.86  4.72K   0.93%
 3    Dec 24, 2020  80.11  0.50K  -0.37%
 4    Dec 23, 2020  80.40  3.89K  -1.20%
 ..            ...    ...    ...     ...
 249  Jan 08, 2020  77.73  1.29K   0.00%
 250  Jan 07, 2020  77.73  0.50K   0.30%
 251  Jan 06, 2020  77.50  0.83K  -0.68%
 252  Jan 03, 2020  78.03  0.88K   0.58%
 253  Jan 02, 2020  77.58  9.20K   0.28%

 [254 rows x 4 columns],
 'PB':              Date   Price    Vol %Change
 0    Dec 30, 2020  253.84  1.98K   0.01%
 1    Dec 29, 2020  253.82  1.69K   0.11%
 2    Dec 28, 2020  253.55  1.49K  -0.25%
 3    Dec 23, 2020  254.18  3.36K  -0.37%
 4    Dec 22, 2020  255.13  4.34K   0.28%
 ..            ...     ...    ...     ...
 250  Jan 08, 2020  254.82  1.13K   0.18%
 251  Jan 07, 2020  254.36  0.91K   0.08%
 252  Jan 06, 2020  254.16  0.05K  -0.38%
 253  Jan 03, 2020  255.12  3.72K   0.73%
 254  Jan 02, 2020  253.28  0.47K   0.29%

 [255 rows x 4 columns],
 'GO':              Date   Price     Vol %Change
 0    Dec 31, 2020  178.36   7.54M   0.37%
 1    Dec 30, 2020  177.70   5.91M   0.77%
 2    Dec 29, 2020  176.35   5.98M   0.36%
 3    Dec 28, 2020  175.71   7.78M  -0.36%
 4    Dec 24, 2020  176.35   3.70M   0.40%
 ..            ...     ...     ...     ...
 269  Jan 08, 2020  146.86  22.28M  -0.75%
 270  Jan 07, 2020  147.97   8.40M   0.39%
 271  Jan 06, 2020  147.39  14.41M   1.05%
 272  Jan 03, 2020  145.86  12.29M   1.33%
 273  Jan 02, 2020  143.95   7.74M   0.73%

 [274 rows x 4 columns],
 'CA':              Date  Price Vol %Change
 0    Dec 31, 2020  89.94   -   0.29%
 1    Dec 30, 2020  89.68   -  -0.34%
 2    Dec 29, 2020  89.99   -  -0.39%
 3    Dec 28, 2020  90.34   -   0.02%
 4    Dec 25, 2020  90.32   -   0.00%
 ..            ...    ...  ..     ...
 257  Jan 07, 2020  97.00   -   0.34%
 258  Jan 06, 2020  96.67   -  -0.18%
 259  Jan 03, 2020  96.84   -  -0.01%
 260  Jan 02, 2020  96.85   -   0.48%
 261  Jan 01, 2020  96.39   -   0.00%

 [262 rows x 4 columns]}

In [131]:
len(df)

5